<?xml version="1.0" encoding="UTF-8"?>
<web-app>  
   
<servlet>  
<servlet-name>XML Parser</servlet-name>  
<servlet-class>ParseServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>XML Parser</servlet-name>  
<url-pattern>/pars</url-pattern>  
</servlet-mapping>   
  
</web-app>  